@import "tailwindcss";

.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}
.hero {
font-size: 130px;
font-weight: 10;
}
.discount{
  font-size: 80px;
  font-family: "Nanum Myeongjo", serif;
  font-weight: 400;
  font-style: normal;
}
.member{
  font-family: "Kantumruy Pro", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
}
button{
  cursor: pointer;
}
button:hover{
  border: 2px solid rgb(220, 97, 118);
}
.head{
  font-size: 40px;
  font-family: sans-serif;
}